// Navigation code here

header{

    h1{
        .center();
        color:#23293B;
        font-size: 5rem;
    }

    nav{
     .center();
    }
    background-color: @wild-sand;
        a{
        margin:1.5%;
        color: @ebony-clay;
        font-size:1.8rem;
        text-decoration: none;
        @media @phone{
            margin:3.5%;
        }
    }
}